/* Modal Overlay */
.custom-claim-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it’s above other content */
  overflow: scroll;
    padding-top: 50rem;

}

/* Modal Box */
.custom-claim-details-modal {
  background-color: #fff;
  padding: 24px;
  /* border-radius: 12px; */
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  height: 150vh;
}

/* Close Button */
.custom-claim-details-modal .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  /* left: 10; */
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.custom-claim-details-modal .close-button:hover {
  color: #000;
}
