.claims-wrapper {
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: #f9fafc;
  }
  
  .claims-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .claims-header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
  }
  
  .view-all {
    border: 2px solid #0f52ba;
    color: #0f52ba;
    padding: 0.4rem 1rem;
    /* border-radius: 5px; */
    background: transparent;
    font-weight: 500;
    cursor: pointer;
  }
  
  .claims-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .claim-card {
    background: #ffffff;
   
    /* border-radius: 10px; */
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex: 1 1 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  }
  
  .claim-info {
    flex: 1;
  }
  
  .claim-id {
    font-size: 24px;
    font-weight: 500;
    color: #004AAD;
    margin-bottom: 0.2rem;
  }
  
  .claim-model {
    font-size: 14px;
    color: #38B6FF;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  
  .claim-rows {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .label {
    font-size: 0.85rem;
    color: #111827;
  }
  .device_id{
    font-weight: 100;
     color: #8A8894;
     font-size: 13px;
  }

  .value {
    font-weight: 500;
    color: #111827;
    margin-top: 0.2rem;
    font-size: 12px;
  }
  .issue{
    color: #8A8894;
    font-weight: 100;
  }
  .claim-date .label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }
  
  .date-box {
    display: inline-block;
    background-color: #e0f4ff;
    color: #0ea5e9;
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
    font-weight: 500;
  }
  
  .claim-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* padding: 0.5rem 1rem; */
    width: 90px;
    height: 83px;
    gap: 5px;
    position: relative;
    top: 3rem;
  }
  
  .shield-icon {
    margin-bottom: 0.4rem;
  }
 
  .status-text {
    font-weight: 500;
    font-size: 14px;
    padding: .4rem .8rem;
  }
  .card-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:70px;
  height: 65px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 500;
  color: white;
  position: relative;
  flex-shrink: 0;
}
  /* Badge Variants */
.Pending {
  background: #f5d49a;
  /* color: #f59e0b; */
  box-shadow: 0 0 2px 7px #e0cfab1a;
}
.Pending_2 {
    /* width:80px;
  height: 80px; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 8px 2px #c0a7741a;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
}
.Approved {
  background: rgb(84, 137, 218);
  color: #3b82f6;
  box-shadow: 0 0 2px 7px rgba(80, 150, 243, 0.251);
}
.Approved_2 {
    /* width:80px;
  height: 80px; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 8px 2px #40567240;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
}
.Completed {
  background: rgb(150, 194, 150);
  color: #10b981;
  box-shadow: 0 0 8px 2px rgba(16, 185, 129, 0.4);
}
.Completed_2 {
    /* width:80px;
  height: 80px; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 8px 2px #00752F14;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
}
.Rejected {
  background: rgba(239, 68, 68, 0.2);
  color: #ef4444;
  box-shadow: 0 0 12px 4px rgba(239, 68, 68, 0.4);
}

.Pending_normal {
  background: #FFB82E40;
  color: #f59e0b;
  /* box-shadow: 0 0 12px 4px rgba(253, 224, 71, 0.5); */
}

.Approved_normal {
  background: #004AAD40;
  color: #3b82f6;
  /* box-shadow: 0 0 12px 4px rgba(59, 130, 246, 0.4); */
}

.Completed_normal {
  background: #00752F40;
  color: #10b981;
  /* box-shadow: 0 0 12px 4px rgba(16, 185, 129, 0.4); */
}

.Rejected_normal {
  background: rgba(239, 68, 68, 0.2);
  color: #ef4444;
  /* box-shadow: 0 0 12px 4px rgba(239, 68, 68, 0.4); */
}
.uncategorized {
  background: rgba(33, 37, 44, 0.2);
  color: #6b7280;
  /* box-shadow: 0 0 12px 4px rgba(107, 114, 128, 0.4); */
}
 
.custom-modal .ant-modal-content {
  border-radius: 0 !important; /* Removes border-radius from modal content */
}

.custom-modal .ant-modal-body {
  border-radius: 0 !important; /* Removes border-radius from the modal body */
}

.custom-modal .ant-modal {
  border-radius: 0 !important; /* Removes border-radius from the outer modal */
}


#issue_id{
   color: #6b7280;
   font-weight: 100;
}
  /* Mobile responsiveness */
  @media all and (max-width: 768px) {
    .claims-grid {
      /* flex-direction: column; */
    }
  
    .claim-card {
      /* flex-direction: column; */
      align-items: flex-start;
    }
  
    .claim-status {
      /* flex-direction: row; */
      /* justify-content: flex-start; */
      gap: 0.5rem;
      /* margin-top: 1rem; */
      /* top: -1rem; */
    }
    .Pending_2 {
    /* width:80px;
  height: 70%; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 0 0 #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
}


.Completed_2 {
    /* width:80px;
  height: 80px; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 0 0 #fff;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
}

.Approved_2 {
    /* width:80px;
  height: 80px; */
  /* background: #78104540; */
  /* color: #1b160e; */
  box-shadow: 0 0 0 0 #fff;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
}
  }
  